USE [master]
GO
/****** Object:  Database [YurtKayıt]    Script Date: 30.05.2021 15:23:59 ******/
CREATE DATABASE [YurtKayıt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YurtKayıt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\YurtKayıt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YurtKayıt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\YurtKayıt_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YurtKayıt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YurtKayıt]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 30.05.2021 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Yoneticiid] [tinyint] IDENTITY(1,1) NOT NULL,
	[YoneticiAd] [varchar](20) NULL,
	[YoneticiSifre] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 30.05.2021 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[Bolumid] [tinyint] IDENTITY(1,1) NOT NULL,
	[BolumAd] [varchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borclar]    Script Date: 30.05.2021 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borclar](
	[Ogrid] [int] NULL,
	[OgrAd] [varchar](50) NULL,
	[OgrSoyad] [varchar](50) NULL,
	[OgrKalanBorc] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giderler]    Script Date: 30.05.2021 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giderler](
	[Odemeid] [smallint] IDENTITY(1,1) NOT NULL,
	[Elektrik] [int] NULL,
	[Su] [int] NULL,
	[Dogalgaz] [int] NULL,
	[internet] [int] NULL,
	[Gıda] [int] NULL,
	[Personel] [int] NULL,
	[Diger] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kasa]    Script Date: 30.05.2021 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kasa](
	[OdemeAy] [varchar](50) NULL,
	[OdemeMiktar] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 30.05.2021 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Kullaniciid] [tinyint] IDENTITY(1,1) NOT NULL,
	[KullaniciAd] [varchar](50) NULL,
	[KullaniciSifre] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odalar]    Script Date: 30.05.2021 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odalar](
	[Odaid] [tinyint] IDENTITY(1,1) NOT NULL,
	[OdaNo] [char](3) NULL,
	[OdaKapasite] [char](1) NULL,
	[OdaAktif] [char](1) NULL,
	[OdaDurum] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 30.05.2021 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[Ogrid] [int] IDENTITY(1,1) NOT NULL,
	[OgrAd] [varchar](40) NULL,
	[OgrSoyad] [varchar](30) NULL,
	[OgrTC] [char](11) NULL,
	[OgrTelefon] [varchar](40) NULL,
	[OgrDogum] [varchar](20) NULL,
	[OgrBolum] [varchar](50) NULL,
	[OgrMail] [varchar](70) NULL,
	[OgrOdaNo] [char](3) NULL,
	[OgrVeliAdSoyad] [varchar](50) NULL,
	[OgrVeliTelefon] [varchar](20) NULL,
	[OgrVeliAdres] [varchar](200) NULL,
 CONSTRAINT [PK_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[Ogrid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 30.05.2021 15:24:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[Personelid] [tinyint] IDENTITY(1,1) NOT NULL,
	[PersonelAdSoyad] [varchar](70) NULL,
	[PersonelDepartman] [varchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Yoneticiid], [YoneticiAd], [YoneticiSifre]) VALUES (4, N'Şehrivan', N'6767')
INSERT [dbo].[Admin] ([Yoneticiid], [YoneticiAd], [YoneticiSifre]) VALUES (10, N'Simen', N'899999')
INSERT [dbo].[Admin] ([Yoneticiid], [YoneticiAd], [YoneticiSifre]) VALUES (15, N'Esma Nur', N'7070')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Bolumler] ON 

INSERT [dbo].[Bolumler] ([Bolumid], [BolumAd]) VALUES (1, N'Bilgisayar Mühendisliği')
INSERT [dbo].[Bolumler] ([Bolumid], [BolumAd]) VALUES (2, N'Elektronik Mühendisliği')
INSERT [dbo].[Bolumler] ([Bolumid], [BolumAd]) VALUES (3, N'Otomotiv  Mühendisliği')
SET IDENTITY_INSERT [dbo].[Bolumler] OFF
GO
INSERT [dbo].[Borclar] ([Ogrid], [OgrAd], [OgrSoyad], [OgrKalanBorc]) VALUES (32, N'Kenan', N'GÜLEN', 3000)
INSERT [dbo].[Borclar] ([Ogrid], [OgrAd], [OgrSoyad], [OgrKalanBorc]) VALUES (33, N'Şehrivan', N'Varışlı', 2800)
GO
SET IDENTITY_INSERT [dbo].[Giderler] ON 

INSERT [dbo].[Giderler] ([Odemeid], [Elektrik], [Su], [Dogalgaz], [internet], [Gıda], [Personel], [Diger]) VALUES (1, 2000, 2000, 2000, 2000, 6000, 8000, 900)
INSERT [dbo].[Giderler] ([Odemeid], [Elektrik], [Su], [Dogalgaz], [internet], [Gıda], [Personel], [Diger]) VALUES (2, 300, 2000, 2000, 2000, 2000, 20000, 20000)
INSERT [dbo].[Giderler] ([Odemeid], [Elektrik], [Su], [Dogalgaz], [internet], [Gıda], [Personel], [Diger]) VALUES (3, 409, 4000, 4005, 600, 400, 200, 200)
SET IDENTITY_INSERT [dbo].[Giderler] OFF
GO
INSERT [dbo].[Kasa] ([OdemeAy], [OdemeMiktar]) VALUES (N'Mart 21', 900)
INSERT [dbo].[Kasa] ([OdemeAy], [OdemeMiktar]) VALUES (N'Mart 21', 500)
INSERT [dbo].[Kasa] ([OdemeAy], [OdemeMiktar]) VALUES (N'Haziran 21', 950)
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([Kullaniciid], [KullaniciAd], [KullaniciSifre]) VALUES (1, N'Şehrivan', N'6767')
INSERT [dbo].[Kullanicilar] ([Kullaniciid], [KullaniciAd], [KullaniciSifre]) VALUES (2, N'Nur', N'6565')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Odalar] ON 

INSERT [dbo].[Odalar] ([Odaid], [OdaNo], [OdaKapasite], [OdaAktif], [OdaDurum]) VALUES (1, N'101', N'1', N'0', 1)
INSERT [dbo].[Odalar] ([Odaid], [OdaNo], [OdaKapasite], [OdaAktif], [OdaDurum]) VALUES (2, N'102', N'1', N'0', 1)
INSERT [dbo].[Odalar] ([Odaid], [OdaNo], [OdaKapasite], [OdaAktif], [OdaDurum]) VALUES (3, N'103', N'1', N'1', 1)
SET IDENTITY_INSERT [dbo].[Odalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Ogrenci] ON 

INSERT [dbo].[Ogrenci] ([Ogrid], [OgrAd], [OgrSoyad], [OgrTC], [OgrTelefon], [OgrDogum], [OgrBolum], [OgrMail], [OgrOdaNo], [OgrVeliAdSoyad], [OgrVeliTelefon], [OgrVeliAdres]) VALUES (32, N'Kenan', N'GÜLEN', N'22233344455', N'(888) 999-9898', N'04.08.2002', N'Diş Hekimliği', N'GulenK123@gmail.com', N'103', N'Serdar GÜLEN', N'(555) 333-8867', N'Ankara')
INSERT [dbo].[Ogrenci] ([Ogrid], [OgrAd], [OgrSoyad], [OgrTC], [OgrTelefon], [OgrDogum], [OgrBolum], [OgrMail], [OgrOdaNo], [OgrVeliAdSoyad], [OgrVeliTelefon], [OgrVeliAdres]) VALUES (33, N'Şehrivan', N'Varışlı', N'76655465878', N'(976) 765-4545', N'14.05.2000', N'Bilgisayar Mühendisliği', N'varisli.srhvn@gmail.com', N'203', N'Mehmet Varışlı', N'(896) 858-6284', N'İstanbul')
SET IDENTITY_INSERT [dbo].[Ogrenci] OFF
GO
SET IDENTITY_INSERT [dbo].[Personel] ON 

INSERT [dbo].[Personel] ([Personelid], [PersonelAdSoyad], [PersonelDepartman]) VALUES (1, N'Demir Yüce', N'Aşçı')
INSERT [dbo].[Personel] ([Personelid], [PersonelAdSoyad], [PersonelDepartman]) VALUES (2, N'Şehrivan Varışlı', N'Yönetici')
INSERT [dbo].[Personel] ([Personelid], [PersonelAdSoyad], [PersonelDepartman]) VALUES (3, N'Simen Arslan', N'Yönetici')
SET IDENTITY_INSERT [dbo].[Personel] OFF
GO
ALTER TABLE [dbo].[Borclar] ADD  CONSTRAINT [DF_Borclar_OgrKalanBorc]  DEFAULT ((3000)) FOR [OgrKalanBorc]
GO
ALTER TABLE [dbo].[Odalar] ADD  CONSTRAINT [DF_Odalar_OdaAktif]  DEFAULT ((0)) FOR [OdaAktif]
GO
ALTER TABLE [dbo].[Odalar] ADD  CONSTRAINT [DF_Odalar_OdaDurum]  DEFAULT ((1)) FOR [OdaDurum]
GO
USE [master]
GO
